
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <marquee> <h2 class="card-title">Welcome To Sanskar Hospital</h2></marquee>
</div>

